<body>
    <form action="/Product/Add" method="post">
        <label for="id">Id</label>
        <input type="text" name="pid" required>

        <label for="name">Name</label>
        <input type="text" name="name" required>

        <label for="price">Price</label>
        <input type="text" name="price" required>

        <label for="brand">Brand</label>
        <input type="text" name="brand" required>

        <label for="type">Type</label>
        <input type="text" name="type" required>

        <button type="submit">Add</button>
    </form>
</body>